* {
  font-family: 'Asap Condensed', sans-serif;

}

div.monedas {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 100vh;
  background-color: #1A5099;
  border-radius: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
}

div.monedas > label {
  font-size: 15pt;
  color: white;
}

.principal {
  background-color: #4BA2F2;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

footer {

  color: white;
}

i {
  padding: 0px 5px;
  padding-top: 7px;
  color: white;
}

h1, h2 {
  color: #1A5099;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 38pt;
}

h2 {
  font-weight: bold;
}

.informacion {
  height: 93vh;
}

div.informacion > div >p, b {
  color: black;
  text-align: justify;
  font-size: 15pt;
}

.flecha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  background-color: rgba(26, 80, 153, .6);
  z-index: 0;
  position: fixed;
  bottom: 47px;
  right: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;

  transition: all ease .2s;
}

.flecha:hover {
  background-color: rgba(26, 80, 153, 1);
  color: white;
  text-decoration: none;
  transition: all ease .2s;
}

a:hover {
  text-decoration: none;
}

input {
  width: 70%;
}

@media screen and (min-width: 1200px){
  img.img-responsive {
    height: 400px !important;
    width: 400px !important;
  }
}

@media screen and (max-width: 1199px){
  img.img-responsive {
    height: 300px !important;
    width: 300px !important;
  }
}

@media screen and (max-width: 420px){
  img.img-responsive {
    height: 200px !important;
    width: 200px !important;
  }

  .flecha {
    bottom: 30px;
    right: 5px;
  }
}
